*.sql
*.tar.gz
.idea/
.htaccess
.git-credentials
*.pot~
backup/
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/w3tc-config/
/*w3-total-cache*/
nginx.conf
robots.txt
wp-content/object-cache.php
wp-content/advanced-cache.php
wp-content/db.php
wp-content/w3-total-cache-config-preview.php
wp-content/debug.log
*.DS_Store
/wp-content/plugins/media-placeholders/
/adminer.php
wp-content/plugins/product-csv-import-export-for-woocommerce/temp-import-review.csv
wp-content/plugins/product-csv-import-export-for-woocommerce/temp-import.csv
import/
wp-content/breeze-config/
/*language*/
wp-content/languages/

wp-content/themes/canvas-child/*.mo
wp-content/themes/canvas-child/*.po
wp-content/themes/canvas-child/*.po~

wp-content/themes/steigerhouttrend/*.mo
wp-content/themes/steigerhouttrend/lang/*.pot
wp-content/themes/steigerhouttrend/*.po
wp-content/themes/steigerhouttrend/*.po~

/*AMP suport*/
wp-content/mu-plugins/ampforwp-plugin-supporter.php
wp-content/plugins/amp-plugin-manager/
/*Search*/
wp-admin/members.json

*/w8-pso
*/bp-pso
wp-content/plugins/w8-pso/
wp-content/themes/steigerhouttrend/w8-pso/
wp-content/themes/steigerhouttrend/bp-pso/

wp-content/wflogs/
.user.ini
readme.html
wordfence-waf.php


wp-content/mu-plugins/pso-client/

# pso
wp-content/plugins/pso/
wp-content/settings/
wp-content/themes/steigerhouttrend/critical-css/
wp-content/pso/

wp-content/webp-express/
wp-content/wp-cache-config.php