a {

    color: #000000; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-weight:bold;



}
a:visited {
    color: #000000; /* Цвет посещённой ссылки */
}
a:hover {
    color: rgba(138, 32, 37, 0.91); /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}

.description{
font-size: 100%; /* Размер шрифта */
color: #000000; /* Цвет текста заголовка */
padding: 10px; /* Поля вокруг текста */
border: 1px solid black; /* Рамка вокруг слоя */
margin-top: 2px; /* Отступ сверху */
float: top; /* Состыковка колонок по горизонтали */
}


.wr {
    width: 49%;
    display: inline-block;
    float: left;
    margin-right: 5px; /* Отступ справа */
    margin-bottom: 5px; /* Отступ снизу */

}
img.img_cat {
    width: 63%;
}
.text_cat {
float: right;
padding: 5px;
border: 1px solid black;
}


.blue {
    background: blue;
}

.red {
    background: red;
}

.buttonProps {
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 50px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
}

.center {
    text-align: center;
}