a {

    color: #000000; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-weight:bold;



}
a:visited {
    color: #000000; /* Цвет посещённой ссылки */
}
a:hover {
    color: rgba(138, 32, 37, 0.91); /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}
